* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0 0 0.5rem 0;
}

.container {
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
    border-bottom: 2px solid red;
}

/* header element and descendants */
.header {
    border: 2px solid red;
    width: 100%;
    margin: 1.5rem auto;
    padding: 1rem;
    border-radius: 10px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

h1 a {
    color: red;
    text-decoration: none;
}

.hero-text {
    background-color: #311;
    color: yellow;
    border: 2px solid #ff0;
    border-radius: 8px;
    padding: 0.5rem;
    line-height: 1.5;
    letter-spacing: 1px;
}

/* articles container, articles */
.article-container {
    width: 90%;
    margin: auto;
    border: 2px solid yellow;
    margin-bottom: 2rem;
    border-radius: 10px;
    padding: 1rem;
}

.article {
    /*border: 2px solid;*/
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid yellow;
}

.article a {
    color: black;
}

.article p {
    width: 29%;
    display: inline-block;
    float: right;
    line-height: 1.5;
}

.article img {
    width: 60%;
    border: 1px solid yellow;
    border-radius: 8px;
    box-shadow: 0 0 3px 3px black;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}